html, body {
    background-color: #121212 !important;
    background: #121212 !important;
    font-size: 16px !important;
    touch-action: manipulation;
    color: #56568d;
}
input, [type='text'], input:where(:not([type])), [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    background: #1a1a1b !important;
    background-color: #1a1a1b !important;
    color: #ffffff !important;
    color-scheme: dark;
}
input[type="date"]::-webkit-calendar-indicator {
    background-color: #1a1a1b !important;
    color: #ffffff !important;
}
textarea {
    border-color: #6868a0 !important;
}
textarea:focus {
    border-color: #9932cc !important;
    --tw-ring-color: #9932cc !important;
}
textarea::placeholder {
    color: #6868a0 !important;
  }
a {
    color: #10d876 !important;
  }
.bg-dark {
    /* background-color: #1f212b !important; */
    /* background-color: #141823 !important; */
    /* background-color: #171a27 !important; */
    background-color: #17191e !important;
}
.bg-black {
    background-color: #121212 !important;
  }
.comment-btn {
    padding-top: 0.6rem;
    padding-right: 1.2rem;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
}
.primary-btn {
    padding-top: 0.6rem;
    padding-right: 1.2rem;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
}
.hi-cursor:hover {
    cursor: url(/assets/img/hi-cursor.gif), auto;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.border {
    /* border: 2px solid #1d242d !important; */
    /* border: 2px solid #1a2028 !important; */
    border: 2px solid #252b33 !important;
  }
.down-vote-arrow {
    color: #94a3b8;
}
.down-vote-arrow:hover {
    color: #9932cc;
}
.up-vote-arrow {
    color: #94a3b8;
}
.up-vote-arrow:hover {
    color: #10d876;
}
.nav-header {
    height: 61px;
    /* border-bottom: 1px solid #484452 !important; */
    /* border-bottom: 2px solid  #1a2028 !important; */
    border-bottom: 2px solid #252b33 !important;
}
.nav-top span.pb-cle-logofont {
    display: none !important;
}
.nav-header .nav-top {
    width: auto;
}
nav.main-nav {
    width: 100%;
}
.main-title-text a {
    color: #ffffff !important;
}
.main-container {
    margin-top: 71px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.vote-box {
    padding: 0.1rem;
    width: 2.35rem;
    /* background: #272936;
    background-color: #272936; */
    background: #1d1f2b;
    background-color: #1d1f2b;
}
.register-btn {
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    background-color: #9932cc;
}
.login-btn {
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    background-color: #1A1A1B;
    border: solid 1px #10d876; 
}
.min-h-10 {
    min-height: 10rem;
}
input[type="file"] {
    display: none;
}
.file-upload-button {
    margin-bottom: 14px;
    display: block !important;
    background-color: var(--theme-color) !important;
    font-weight: 500 !important;
    color: #fff !important;
    font-size: 14px !important;
    padding: 1rem !important;
    /* margin-left: 0.5rem !important; */
    width: 8rem !important;
    text-align: center !important;
    line-height: 20px !important;
    border-radius: 30px !important;
    cursor: pointer;
}
.submit-event-button {
    border-width: 0px !important; 
    border-style: none !important;
    border-color: initial !important;
    border-image: none !important;
}
.submit-event-textarea {
    border-width: 0px !important;
    border-style: none !important;
    border-color: initial !important;
    border-image: initial !important;
}
.image-upload-button {
    color: #6868a0;
    margin-left: 0.025rem;
}
.main-column {
    padding-top: 85px;
}
.post-title {
    font-size: 1.2rem;
    line-height: 1.45rem;
    margin-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 2.65rem;
}
.profile-img {
    width: 2.3rem;
    height: 2.3rem;
    max-width: inherit;
}
.nav-top {
    justify-content: flex-start !important;
}
.post-card {
    margin-bottom: 0.5rem;
}
.post-main-container {
    margin-bottom: 0.5rem;
}
.welcome-box {
    margin-bottom: 0.5rem;
    padding: 1rem;
}
.header-post-box {
    margin-bottom: 0.5rem;
    padding-top: 0.6rem;
    padding-right: 1rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
}
.popular-posts-box {
    margin-bottom: 0.5rem;
}
.top-communities-box {
    margin-bottom: 0.5rem;
}
.about-box {
    margin-bottom: 0.5rem;
}
.communities-table-box {
    margin-bottom: 0.5rem;
}
.hot-events-box {
    margin-bottom: 0.5rem;
}
.new-raver-box {
    margin-bottom: 0.5rem;
}
.raver-profile-row {
    margin-bottom: 0.75rem;
}
.gutter {
    --bs-gutter-y: 0.25rem;
    --bs-gutter-x: 0.25rem;
}
.card.login-card {
    padding: 1.25rem;
}
.post-header {
    display: inline-block;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-bottom: .25rem;
}
.post-username {
    margin-left: .25rem;
    margin-right: .25rem;
}
.event-main-container {
    margin-bottom: 0.5rem;
}
.event-info-box {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.event-info-table td {
    text-align: left;
    vertical-align: top;
}
.pagination-container {
    margin-bottom: 0;
}
.read-more-box {
    padding-right: 0;
    padding-left: 1rem;
    margin-bottom: 1rem;
}
.read-more-box p {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.read-more-text {
    display: none;
}
.read-more-box svg {
    width: 1rem;
    height: 1rem;
}
.read-more-box .comment-btn {
    padding-top: 0.4rem;
    padding-left: 0.8rem;
    padding-bottom: 0.4rem;
    padding-right: 0.8rem;
}
.home-page .post-description, .communities-show .post-description, .profile-show .post-description {
    display: none;
}
.dp__theme_dark {
    --dp-background-color: #1a1a1b !important;
    --dp-text-color: #fff;
    --dp-hover-color: #484848;
    --dp-hover-text-color: #fff;
    --dp-hover-icon-color: #959595;
    --dp-primary-color: #005cb2;
    --dp-primary-disabled-color: #61a8ea;
    --dp-primary-text-color: #fff;
    --dp-secondary-color: #a9a9a9;
    --dp-border-color: #2d2d2d;
    --dp-menu-border-color: #2d2d2d;
    --dp-border-color-hover: #aaaeb7;
    --dp-disabled-color: #737373;
    --dp-disabled-color-text: #d0d0d0;
    --dp-scroll-bar-background: #212121;
    --dp-scroll-bar-color: #484848;
    --dp-success-color: #00701a;
    --dp-success-color-disabled: #428f59;
    --dp-icon-color: #959595;
    --dp-danger-color: #e53935;
    --dp-marker-color: #e53935;
    --dp-tooltip-color: #3e3e3e;
    --dp-highlight-color: rgb(0 92 178 / 20%);
    --dp-range-between-dates-background-color: var(--dp-hover-color, #484848);
    --dp-range-between-dates-text-color: var(--dp-hover-text-color, #fff);
    --dp-range-between-border-color: var(--dp-hover-color, #fff);
}
.pagination-vue {
    padding-left: 0.3rem;
    justify-content: center;
}
.pagination-vue-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2.6rem;
    max-width: 2.6rem;
    min-height: 2.6rem;
    max-height: 2.6rem;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
}
.pagination-vue-item:nth-child(0), .pagination-vue-item:nth-child(1), .pagination-vue-item:nth-last-child(-n + 2) {
    display: none;
}
@media only screen and (min-width: 652px) {
    /* .post-description {
        padding-right: 2.5rem !important;
    } */
    .nav-top span.pb-cle-logofont {
        display: inline-block !important;
        margin-right: 1rem;
    }
    .read-more-text {
        display: inline-block;
    }
    .read-more-box svg {
        width: 1rem;
        height: 1rem;
        margin-left: 0.25rem;
        margin-right: -0.25rem;
    }
    .read-more-box .comment-btn {
        padding-top: 0.6rem;
        padding-left: 1.2rem;
        padding-bottom: 0.6rem;
        padding-right: 1.2rem;
    }
}
@media only screen and (min-width: 768px) {
    .post-header {
        display: flex;
        margin-bottom: .75rem;
    }
    .profile-img {
        width: 3rem;
        height: 3rem;
    }
    .event-main-container {
        margin-bottom: 0.75rem;
    }

    .hot-events-box {
        margin-bottom: 0.75rem;
    }
    /* .register-btn {
        padding: 0.9rem 1.5rem;
    } */
    /* .login-btn {
        padding: 0.9rem 1.85rem;
    } */
    .welcome-box {
        margin-bottom: 0.75rem;
    }
    .top-communities-box {
        margin-bottom: 0.75rem;
    }
    .popular-posts-box {
        margin-bottom: 0.75rem;
    }
    .about-box {
        margin-bottom: 0.75rem;
    }
    .communities-table-box {
        margin-bottom: 0.75rem;
    }
    .header-post-box {
        margin-bottom: 0.75rem;
    }
    .new-raver-box {
        margin-bottom: 0.75rem;
    }
    /* nav.main-nav {
        width: auto;
    } */
    .post-card {
        margin-bottom: 0.75rem;
    }
    .home-page .post-description, .communities-show .post-description {
        display: block;
        padding-right: 2.65rem;
        padding-left: 1rem;
        margin-bottom: 1.5rem;
    }
    .read-more-box p {
        /* display: flex;
        align-items: center; */
        margin-bottom: 0rem;
    }
    .pagination-vue {
        justify-content: start;
    }
}
@media only screen and (min-width: 992px) {
    .main-column {
        padding-top: 115px;
    }
    /* .post-description {
        padding-right: 3rem !important;
    } */
    .main-container {
        padding-left: 12rem;
        padding-right: 10rem;
    }
    .gutter {
        --bs-gutter-y: 0.75rem;
        --bs-gutter-x: 0.75rem;
    }
    .pagination-container {
        margin-bottom: 1rem;
    }
    .raver-profile-row {
        margin-top: var(--bs-gutter-y);
    }
    .post-title {
        font-size: 1.4rem;
        line-height: 1.75rem;
    }
}
@media only screen and (min-width: 1440px) {
    .main-container {
        padding-left: 21rem;
        padding-right: 21rem;
    }
    /* .post-description {
        padding-right: 3rem !important;
    } */
    .post-header {
        margin-bottom: 1rem;
    }
}
input, textarea {
    font-size: 1rem !important;
}
@media (min-width: 768px) {
    input, textarea {
        font-size: inherit !important;
    }
}
@media only screen and (min-width: 768px) {
    /* Animations */
    /* @-webkit-keyframes bg-scrolling-reverse {
    100% { background-position: 100px 100px; }
    }
    @-moz-keyframes    bg-scrolling-reverse {
    100% { background-position: 100px 100px; }
    }
    @-o-keyframes      bg-scrolling-reverse {
    100% { background-position: 100px 100px; }
    }
    @keyframes         bg-scrolling-reverse {
    100% { background-position: 100px 100px; }
    }

    @-webkit-keyframes bg-scrolling {
    0% { background-position: 100px 100px; }
    }
    @-moz-keyframes    bg-scrolling {
    0% { background-position: 100px 100px; }
    }
    @-o-keyframes      bg-scrolling {
    0% { background-position: 100px 100px; }
    }
    @keyframes         bg-scrolling {
    0% { background-position: 100px 100px; }
    } */
    /* Background animation */
     /* img size is 50x50 */
    /* .main-wrapper {
    background: url(../../assets/img/background-11.gif) repeat 0 0; */
    
    /* -webkit-animation: bg-scrolling-reverse 50s infinite; Safari 4+ */
    /* -moz-animation:    bg-scrolling-reverse 50s infinite; Fx 5+ */
    /* -o-animation:      bg-scrolling-reverse 50s infinite; Opera 12+ */
    /* animation:         bg-scrolling-reverse 50s infinite; IE 10+ */
    /* -webkit-animation-timing-function: linear;
    -moz-animation-timing-function:    linear;
    -o-animation-timing-function:      linear;
    animation-timing-function:         linear;
    } */
}

input#genres.multiselect-tags-search:focus {
    outline: none !important;
}
.multiselect-tag {
    background: #9932cc !important;
    background-color: #9932cc !important;
}
.multiselect {
    background: #1a1a1b !important;
    background-color: #1a1a1b !important;
    color: #ffffff !important;
}
.multiselect-dropdown {
    background: #1a1a1b !important;
    background-color: #1a1a1b !important;
    color: #ffffff !important;
}
.multiselect-option.is-pointed {
    background: #1a1a1b !important;
    background-color: #1a1a1b !important;
    color: #ffffff !important;
}